
  body {
    background-color: royalblue;
    overflow-x: hidden;
  }
  
  i.snowflake {
    position: absolute;
    top: -50px;
    animation: snow linear;
  }
  
  
  @keyframes snow {
      to {
          transform: translateY(110vh);
      }
  }
